
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}
.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
/* navbar styling */
.navbar{
	position: fixed;
	width: 100%;
	padding: 35px 0;
	font-family:'Ubuntu', sans-serif;
	transition: all 0.3s ease;
}
.navbar.sticky{
	padding:15px 0;
	background:red;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar.logo a{
	font-size: 15px;
	font-weight: 600;
}
.navbar .logo a span{
	color: red;
}
.navbar.sticky .logo a span{
	color:#fff;
	transition: all 0.3s ease;

}
.navbar .menu li {
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover{
	color: red;
}
#navbar a.active{
	color:red;
	font-weight: bold;
}

/* CV section styling */
#CV{
	display: flex;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("banner.jpg") no-repeat center;
	height: 100vh;
	color: #fff;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
}
.CV-container{
	border:4px solid black;
	height: 500px;
	width: 900px;
	margin-top: 60px;
}
.CV-container h1{
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
}
.CV-container h4{
	text-align: center;
}
/* CV footer styling */
#footer{
	height: 60px;
}
.footer-elements{
	position: relative;
}
.footer-elements p{
width:216px;
margin:auto;
margin-top: 60px;

}
.footer-elements ul{
	position: absolute;
	list-style-type: none;
	right:0px;
	top:3px;
}
.footer-elements li{
	display:inline;
}
.footer-elements{
	color: black;
	padding-right:5px;
}