
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	text-decoration: none;
}
.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}
/* navbar styling */
.navbar{
	position: fixed;
	width: 100%;
	padding: 35px 0;
	font-family:'Ubuntu', sans-serif;
	transition: all 0.3s ease;
}
.navbar.sticky{
	padding:15px 0;
	background:red;
}
.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar.logo a{
	font-size: 15px;
	font-weight: 600;
}
.navbar .logo a span{
	color: red;
}
.navbar.sticky .logo a span{
	color:#fff;
	transition: all 0.3s ease;

}
.navbar .menu li {
	list-style: none;
	display: inline-block;
}
.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.navbar .menu li a:hover{
	color: red;
}
/* home section styling */
.home{
	display: flex;
	background: url("img/BPhoto.jpg") no-repeat center;
	height: 100vh;
	color: #fff;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
	margin: auto 0 auto 40px;
}
.home .home-content .text-1{
	font-size:27px;
}

.home .home-content .text-2{
	font-size:75px;
	font-weight: 600;
	margin-left: -3px;
}
.home .home-content .text-3{
	font-size:40px;
	margin: 5px 0;
}
.home .home-content .text-3 span{
	color: red;
	font-weight: 500;
}
.box-parent{
	display: flex;
	margin-top: 40px;
	margin-bottom: 40px;
	font-family: 'Odibee Sans', cursive;
	font-family: 'Open Sans', sans-serif;
}
.box-child{
	padding:20px;
}
.box-child h1{
	text-align: center;
}
.box-child p{
	margin-top: 20px;
	text-align: justify;
}
.book-image{
	display: block;
	margin: auto;
	width: 150px;
	height: 100px;
}
.games-image{
	display: block;
	margin: auto;
	width: 150px;
	height: 100px;
}
.paints-image{
	display: block;
	margin: auto;
	width: 150px;
	height: 100px;
}
/*footer part */
#footer{
	height: 60px;
}
.footer-elements{
	position: relative;
}
.footer-elements p{
width:216px;
margin:auto;
margin-top: 60px;

}
.footer-elements ul{
	position: absolute;
	list-style-type: none;
	right:0px;
	top:3px;
}
.footer-elements li{
	display:inline;
}
.footer-elements{
	color: black;
	padding-right:5px;
}